urllib3<1.27
dtoolcore
dtool-create
dtool-info
dtool-s3
dtool-smb
git+https://github.com/livMatS/dtool-lookup-api@main#egg=dtool-lookup-api
git+https://github.com/livMatS/dtool-lookup-client@main#egg=dtool-lookup-client
